*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@include respond(tablet-portrait) {
  main {
    width: 736px;
    height: 512px;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .result {
    border-radius: 32px;
  }
}
